# base requirements
numpy
scipy
pandas
tqdm
matplotlib
opencv-python
tensorflow==2.3.1

# visualization requirements
cooler
jupyter
# if planning to use HiGlass please refer to  the Python and Jupyter docs (https://docs.higlass.io/jupyter.html)
higlass-python 
